:root {
  /* light mode colors*/
  --l-primary-background: #f1f3f5;
  --l-surface: #ffffff;
  --l-borders: 1px solid #e9ecef;
  --l-primary-text: #1f2328;
  --l-secondary-text: #636c76;
  --l-present-status-bg: #e6f4f1;
  --l-present-text: #2d6a4f;
  --l-absent-status-bg: #f8edeb;
  --l-absent-text: #641e16;
  --l-primary-button-bg: #3d5a80;
  --l-primary-button-text: #ffffff;
  --l-secondary-button-bg: #E9ECEF;
  --l-secondary-button-text: #1f2328;
  --l-input-fields-bg: #f0f2f5;
  --l-input-fields-text: #636c76;

  /* dark mode colors */
  --d-primary-background: #0b0e14;
  --d-surface: #161b22;
  --d-borders: 1px solid #30363d;
  --d-primary-text: #f0f6fc;
  --d-secondary-text: #8b9eb7;
  --d-present-status-bg: #22333b;
  --d-present-text: #a9d6e5;
  --d-absent-status-bg: #2d1b1e;
  --d-absent-text: #e5989b;
  --d-primary-button-bg: #3d5a80;
  --d-primary-button-text: #f0f6fc;
  --d-secondary-button-bg: #21262d;
  --d-secondary-button-text: #f0f6fc;
  --d-input-fields-bg: #0d1117;
  --d-input-fields-text: #8b9eb7;

  /* Status pill color (e.g. Teacher/Student)*/
  --teacher-bg: #e6f4f1;
  --teacher-text: #2d6a4f;
  --student-bg: #f8edeb;
  --student-text: #641E16
}

/* semantic color variables for this project */
:root {
  --color-background: var(--l-primary-background);

  --color-border: var(--l-borders);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--d-primary-background);

  --color-border: var(--d-borders);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--l-primary-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
