@import './base.css';

body {
  justify-content: center;
}

#app {
  /* display: flex; */
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }
}
