@import './base.css';

body {
  justify-content: center;
}

#app {
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: normal;
  transition: all 0.5s ease;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }
}
